<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS Document</title>
</head>
<body>
    <p> {{s.name}} of age {{s.age}} studying in {{s.class}} th std</p>
</body>
</html>